a{
 text-decoration: none;
 color: black;
}

.list{
    padding: 15px 35px;
    background-color: #f8f8f8;
}

.list__title{
    display: flex;
    justify-content: space-between;
}

.list__title h1{
    font-size: 28px;
}

.list__title button{
    border: none;
    outline: none;
    margin: 15px 0;
    padding: 15px;
    background: #FFA929;
    display: inline-block;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 0.5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.list__main{
    display: flex;
    justify-content: space-between;
}

.list__main--sort{
    width: 20%;
}

.list__main--cards{
    width: 80%;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.list__main--sort input,.list__main--sort input:focus{
    font-size: 20px;
    padding: 15px 10px;
    margin: 10px 0;
    border: #E0DFDE 0.5px solid;
    color: black;
    background-color: white;
    border-radius: 25px;
    outline: none;
    width: 100%;
}

.list__main--sort input::placeholder {
    
    font-size: 18px;
}

.list__main--sort button{
    border: none;
    outline: none;
    padding: 15px;
    margin: 10px 0 20px;
    background: #F5C800;
    display: inline-block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);   
    width: 100%;
}

.list__main--sort p{
    font-size: 20px;
}

.list__main--sort select{
    font-size: 20px;
    padding: 15px 10px;
    border: #E0DFDE 0.5px solid;
    color: #E0DFDE;
    background-color: white;
    border-radius: 5px;
    outline: none;
    width: 100%;   
}

select option{
    color: black;
}

select option[disabled] {
    color: #E0DFDE;
}

hr{
    border: 0;
    border-top: 1px solid #E0DFDE;
    margin: 20px 0;
}

.cards__card{
    flex: 0 1 calc(33.333% - 20px);
    box-sizing: border-box;
    max-height: 240px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.cards__card--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}

.cards__card--img img {
    width: 100%;
}

.list__pagination{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.list__pagination--left{
    width: 20%;
}

.list__pagination--right{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.pagination{
    display: flex;
    list-style: none;
    padding: 0;
    border: none;
}

.pagination li {
    margin: 0 10px;
}

.pagination a{
    text-decoration: none;
    color: #4B4B4B;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;  
}

.modal{
    margin-top: 20px;
}

.modal button {
    position: relative;
    padding: 5px 5px 5px 0;
    width: 50%;
    font-size: small;
    font-weight: lighter;
    background-color: #F8F8F8;
    color: #313131;
    border: #f5c800 solid 1px;
    border-radius: 25px;
    margin: 5px;
    cursor: default;
    box-shadow: none;
    text-align: senter;
}

.modal__reset-icon {
    position: absolute;
    right: 10px;
    color: #f5c800;
    font-size: 16px;
    cursor: pointer;
}